body > header {
    text-align: end;
    padding-top: 20px;
    max-width: 1500px;
    margin: 0 auto;
}

body > header a {
    text-decoration: none;
}

main {
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px 0;
}

h1, .row {
    margin: 0;
}

form {
    padding: 15px 0;
}

form button.btn {
    width: 100%;
    height: 100%;
    color: white;
}

table button.btn:not(:last-child) {
    margin-right: 10px;
}

#main-content > .row .col {
    min-height: 300px;
    background-color: whitesmoke;
    margin: calc(var(--bs-gutter-x)*.5);
    border-radius: .375rem;
}

table {
    margin: 1rem 0;
    position: relative;
}

tbody {
    position: relative;
}

table thead tr {
    display: flex;
}

table #table-recados tr {
    display: flex;
}

table #table-recados tr td, table #table-recados tr th {
    display: flex;
    align-items: center;
}

table #table-recados tr td:nth-child(1), table thead tr th:nth-child(1) {
    width: 38px;
}

table #table-recados tr th:nth-child(2), table thead tr th:nth-child(2) {
    width: 60px;
}

table #table-recados tr td:nth-child(3), table thead tr th:nth-child(3) {
    width: calc(35% - 32px);
}

table #table-recados tr td:nth-child(4), table thead tr th:nth-child(4) {
    width: calc(40% - 32px);
}

table #table-recados tr td:nth-child(5), table thead tr th:nth-child(5) {
    width: calc(25% - 32px);

}

.td-grab {
    cursor: grab;
    z-index: 1;
}

.grab-shadow {
    box-shadow: 0px 2px 8px rgb(0 0 0 / 40%);
}

.grabbing {
    cursor: grabbing !important;
}

table button.btn-primary, table button.btn-secondary {
    color: white;
}

tbody tr th, tbody tr td {
    vertical-align: middle;
}

#user-label {
    margin-right: 20px;
}

#dragging {
    /* background-color: #4ab354; */
    background-color: whitesmoke;
    position: absolute;
    cursor: grabbing;
    user-select: none;
    width: 100%;
    height: 54px;
    z-index: 2;
}

#dragging.hidden {
    display: none;
}

.td-grabbed {
    cursor: grabbing;
}

@media (max-width: 1570px) {
    main, body > header {
        width: 95%;
        max-width: unset;
    }
}

@media (max-width: 991px) {
    table #table-recados tr td:nth-child(5) {
        width: calc(30% - 32px);
    }
}

@media (max-width: 767px) {
    thead {
        display: none;
    }

    tbody tr::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid #4ab354;
        border-radius: 6px;
        width: calc(100% + 3px);
        height: calc(100% + 3px);
    }

    tbody tr {
        display: flex;
        flex-wrap: wrap;
        font-size: 14px;
        position: relative;
        margin-bottom: 10px;
    }

    tbody tr th {
        width: 40px;
    }

    #dragging {
        height: unset;
    }

    tbody tr td:nth-child(3) {
        width: calc(100% - 81px);
        padding-left: 0;
    }

    tbody tr td:nth-child(4) {
        width: 100%;
        min-height: 70px;
    }

    tbody tr td:last-child {
        width: 100%;
        text-align: end;   
        display: flex;
        justify-content: space-between;
        z-index: 1; 
    }

    table #table-recados tr td:nth-child(3) {
        width: calc(100% - 98px);
    }

    table #table-recados tr td:nth-child(4), table #table-recados tr td:nth-child(5) {
        width: 100%;
    }
}