body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

body > header {
    display: flex;
    justify-content: center;
}

body > header > img:first-child {
    width: 650px;
}

body > header > img:last-child {
    display: none;
    width: 75%;
}

.fade-in-bck {
	-webkit-animation: fade-in-bck 1s ease-out both;
    animation: fade-in-bck 1s ease-out both;
}

@keyframes fade-in-bck {
    0% {
        scale: 1.2;
        opacity: 0;
    }

    100% {
        scale: 1;
        opacity: 1;
    }
}

.fade-in-bottom {
	-webkit-animation: fade-in-bottom .5s ease-out both;
    animation: fade-in-bottom .5s ease-out both;
    animation-delay: 1s;
}

@keyframes fade-in-bottom {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.shake-horizontal {
	-webkit-animation: shake-horizontal 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation: shake-horizontal 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@keyframes shake-horizontal {
    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    20%,
    60% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    40% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }

    80% {
        -webkit-transform: translateX(8px);
        transform: translateX(8px);
    }
  }

@media screen and (max-width: 720px) {
    body > header > img:first-child {
        width: 90%;
    } 
}

@media screen and (max-width: 550px) {
    body > header > img:first-child {
        display: none;
    } 

    body > header > img:last-child {
        display: unset;
    }
}